@import 'src/helpers';

$rotatePeriod: 5s;

machina-gear {
    display: inline-block;
    margin: -15px;

    transform-origin: center;
    animation-play-state: paused;
    animation-name: rotate;
    animation-duration: $rotatePeriod;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &[reverse] {
        animation-direction: reverse;
        animation-delay: $rotatePeriod/25;
    }

    svg {
        width: 150px;
        height: 150px;
    }
}

@keyframes rotate {
    from    { transform: rotate(0deg); }
    to      { transform: rotate(360deg); }
}
