@import 'src/helpers';

$rotatePeriod: 5s;
$gearSize: 150px;

machina-gear {
    display: inline-block;
    margin: -15px;

    transform-origin: center;
    animation-play-state: paused;
    animation-name: rotate;
    animation-duration: $rotatePeriod;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &[reverse] {
        animation-direction: reverse;
        animation-delay: $rotatePeriod/25;
    }

    svg {
        width: $gearSize;
        height: $gearSize;
    }

    &.small {
        animation-duration: $rotatePeriod/2;
        svg {
            width: $gearSize/2;
            height: $gearSize/2;
        }
    }

    &.large {
        animation-duration: $rotatePeriod*2;
        svg {
            width: $gearSize*2;
            height: $gearSize*2;
        }
    }
}

@keyframes rotate {
    from    { transform: rotate(0deg); }
    to      { transform: rotate(360deg); }
}
