@import 'ui-toolkit/dist/sass/helpers';

machina-belt {
    position: relative;
    display: inline-block;

    &::before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid;
        border-radius: 75px;
        margin: 15px 0;
    }

    * + * {
        margin-left: 50px;
    }
}
