@import 'src/helpers';
@import '@HiFiSamurai/ui-toolkit/dist/sass/globals';
@import '@HiFiSamurai/ui-toolkit/dist/sass/animations';
@import '@HiFiSamurai/ui-toolkit/dist/components/toggle/toggle';

machina-app {
    display: block;

    .machine-box,
    .machine-controls {
        padding: $largeSpacing;
        margin: $largeSpacing;
        border: 1px solid #CCC;
        box-shadow: 1px 1px 1px #CCC;
        background: #F9F9F9;
        opacity: 0;
        animation-name: fade-in;
        animation-duration: $transitionLong;
        animation-delay: $transitionSubtle;
        animation-fill-mode: forwards;
    }

    .machine-box {
        position: relative;

        .power-light {
            position: absolute;
            top: $smallSpacing;
            left: smallSpacing;
            width: $mediumSpacing;
            height: $mediumSpacing;
            border: 4px solid #333;
            border-radius: 50%;
            background-color: #AAA;
            transition: background-color $transitionSubtle;
        }
    }

    &[running] .machine-box {
        * {
            animation-play-state: running;
        }

        .power-light {
            animation: pulse $transitionLong;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }

    .spacer {
        display: inline-block;
        width: 50px;
    }
}

@keyframes pulse {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: #F33;
    }
}
